@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollVertical {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scroll {
  animation: scrollVertical 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-full {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}